extends layout

block content
  h1 Contact Us
  div#notice
  
  label Your Name:
  input#name(type="text")
  br
  label Phone Number:
  input#phone(type="text")
  br
  label Comments
  br
  textarea#comments(rows=10, cols=35)
  p
    button Send