doctype html
html
  head
    title Contact Us
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/xxe1.js")
  body
    block content
